.quiz-container {
    /*padding: 120px 0;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1320px;
    margin: 0 auto;
}

.question_list {
    max-width: 100%;
    /*margin: 30px 0;*/
    overflow: auto;
}

.question_list ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 12px;
    min-width: 1300px;
    overflow: auto;
    padding: 50px 0;
    margin-bottom: 20px;
}

.question_list ul li {
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .07) !important;
    min-width: 150px;
}

.question_list ul li h4 {
    margin-bottom: 10px;
    font-size: 17px;
}

.question_list ul li.active {
    background-color: #ee5235 !important;
    color: #fff;
}

.quiz_title {
    color: #202b55;
    margin-bottom: 1rem;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.2;
    max-width: 1000px;
}

.question_title h5 {
    color: #949da5 !important;
    font-size: 16px;
    margin-bottom: 20px;
}

.question-box {
    max-width: 1000px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    color: #202b55;
    margin: 30px 0 0;
    width: 100%;
}

.answers button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #ee5235;
    max-width: 150px;
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
}
.answers button:disabled{
    opacity: 0.7;
}
.input_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.input_box label {
    cursor: pointer;
}

.input_box input[type='radio'] {
    display: none;
}

.radio_style {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #949da5;
}

.radio_style:after {
    content: ' ';
    display: none;
    width: 12px;
    height: 12px;
    background-color: #ee5235;
    border-radius: 50%;
}

.input_box input[type='radio']:checked ~ .radio_style:after {
    display: block;
}

.input_box input[type='radio']:checked ~ .radio_style {
    border-color: #ee5235;
}

.result_text{
    /*display: none;*/
}