body {
  font-family: "Inter", sans-serif;
}

.main_bg {
  background-image: url("../img/bg-main.png");
  background-color: #FCFFF2;
  min-height: 100vh;
  background-size: cover;
}

.section_title_big {
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.section_title_big span {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #00284B;
}

.section_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #00284B;
}

.section_title_medium {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
  color: #00284B;
}

.section_title_mid {
  font-family: TT Firs Neue Trl;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.section_text_mid {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.section_text {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  line-height: 25.6px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 0;
}
.header_top .header_nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
}
.header_top .header_nav .logo_box {
  height: 151px;
  width: 121px;
}
.header_top .header_nav .navbar-nav {
  padding: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.header_top .header_nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #1A1A1A;
}
.header_top .header_auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 12px 0;
}
.header_top .header_auth .login_box a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.header_top .header_auth .login_box a img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.header_top .header_auth .login_box a span {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #9B823E;
}
.header_top .header_auth .search_box {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_top .header_auth .dropdown-toggle {
  color: #9B823E;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
  line-height: 16px;
  text-transform: uppercase;
}
.header_top .header_auth .dropdown-toggle img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.header_top .header_auth .dropdown-toggle:after {
  display: none;
}

.section_padding {
  padding: 64px 0;
}
.section_padding .section_text_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.section_padding .section_text_box.text_middle {
  justify-content: center;
  height: 100%;
}
.section_padding .section_text_box .date {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #41688D;
}
.section_padding .section_text_box h2, .section_padding .section_text_box h1 {
  color: #00284B;
}
.section_padding .section_text_box > span {
  font-size: 16px;
  font-weight: 500;
  color: #00284B;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.section_padding .section_text_box p {
  max-width: 650px;
  color: #41688D;
}
.section_padding .section_text_box .section_title_mid {
  color: #fff;
}
.section_padding .section_img {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.section_padding .section_img img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.section_padding .section_img.height_auto {
  height: auto !important;
}

.section_btn {
  margin-top: 32px;
}
.section_btn a {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
}

.btn_custom {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
}

.btn_main {
  background-color: #368cd8;
  padding: 14px 24px;
  color: #fff;
  border: 1px solid #368cd8;
}
.btn_main:hover {
  color: #fff;
  background-color: #2472b7;
}

.btn_ghost {
  padding: 12px 20px;
  color: #00284B;
  border: 1px solid #00284B;
}

.section_slider {
  margin-top: 44px;
  max-width: 360px;
}
.section_slider .swiper {
  width: 100%;
  height: 300px;
  margin-left: 0;
  border-radius: 8px;
}
.section_slider .swiper .swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  border: 1px solid #0a2262;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_slider .swiper .swiper-pagination-bullet-active:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0a2262;
}
.section_slider .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_slider .swiper .header_slider_box {
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(10, 34, 98, 0.45);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section_slider .swiper .header_slider_box .slider_top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.section_slider .swiper .header_slider_box .slider_top h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-bottom: 8px;
}
.section_slider .swiper .header_slider_box .slider_top p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.section_slider .swiper .header_slider_box .slider_top .img_box img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.section_slider .swiper .header_slider_box .slider_bottom {
  display: flex;
  width: 100%;
}
.section_slider .swiper .header_slider_box .slider_bottom a {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 14px;
  color: #1A1A1A;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.section_mini .section_doc {
  border-radius: 8px;
  padding: 48px 64px;
  background-color: rgba(10, 34, 98, 0.25);
}
.section_mini .section_doc img {
  max-width: 265px;
  max-height: 265px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-white {
  color: #fff !important;
}

.main_box {
  padding: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  gap: 32px;
}
.main_box .img_round img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.main_box .text_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main_box .text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_box .text_bottom p {
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.main_box .text_bottom span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #F2F2F2;
}
.main_box .text_top p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}
.main_box .text_top h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #fff;
}
.main_box .bigger_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #F4F4F4;
}
.main_box .bigger_text span {
  margin-right: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #F4F4F4;
}
.main_box.dark_gray_box {
  background-color: rgba(10, 34, 98, 0.45);
}
.main_box.light_gray_box {
  background-color: rgba(10, 34, 98, 0.25);
}
.main_box.light_gray_box .img_box {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_box.light_gray_box .img_box img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.vacations_list,
.investment_list {
  margin-top: 80px;
}

.section_title_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.section_title_between h2 {
  color: #00284B;
}

.training_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 60px 32px;
  background-color: rgba(10, 34, 98, 0.45);
}
.training_box h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
}
.training_box img {
  max-width: 236px;
  max-height: 236px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mw-500 {
  max-width: 350px !important;
  width: 100%;
}

.news_box {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}
.news_box .news_img {
  height: 204px;
  width: 100%;
  position: relative;
}
.news_box .news_img:hover img {
  transform: scale(1.04);
}
.news_box .news_img:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 96, 0.22);
}
.news_box img {
  border-radius: 6px;
  height: 204px;
  transition: all 0.5s;
  width: 100%;
  object-fit: cover;
}
.news_box .news_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.news_box .news_bottom span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #41688D;
}
.news_box a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #00284B;
  margin-top: 16px;
  display: -webkit-box;
  display: inline-block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

footer {
  background-color: rgba(23, 55, 84, 0.9);
  padding: 64px 0;
}
footer .footer_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_box .footer_left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
footer .footer_box .footer_left .footer_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
footer .footer_box .footer_left .footer_links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}
footer .footer_box .footer_left img {
  width: 145px;
  height: 180px;
  object-fit: contain;
}
footer .footer_box .footer_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .footer_box .footer_right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
footer .footer_box .footer_right ul a {
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer .footer_box .footer_right ul a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
footer .footer_bottom {
  margin-top: 48px;
}
footer .footer_bottom p {
  text-align: right;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.label_list {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.label_list .label_box {
  padding: 14px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(10, 34, 98, 0.45);
  border-radius: 4px;
  gap: 8px;
}
.label_list .label_box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #00284B;
}

.service_box {
  padding: 24px;
  height: 148px;
  background-color: rgba(10, 34, 98, 0.45);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 24px;
}
.service_box img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.service_box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.vacancy_search {
  margin: 16px 0;
  background-color: rgba(10, 34, 98, 0.45);
  padding: 32px 48px;
  border-radius: 6px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.vacancy_search .search_item {
  width: 100%;
}

.input_box {
  padding: 16px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 288px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.input_box input, .input_box select {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}
.input_box input::placeholder, .input_box select::placeholder {
  color: #fff;
}
.input_box select {
  -webkit-appearance: none;
  /*Firefox */
  -moz-appearance: none;
  /* modern browsers */
  appearance: none;
}
.input_box img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.btn_box {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
}

.btn_ghost_white {
  color: #fff;
  padding: 14px 24px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.pagination_list {
  margin-top: 80px;
}
.pagination_list.mt-80 {
  margin-top: 80px;
}
.pagination_list.mt-24 {
  margin-top: 24px;
}
.pagination_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagination_list ul a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #41688d;
  line-height: 16px;
  border-radius: 8px;
}
.pagination_list ul a.active, .pagination_list ul a:hover {
  color: #fff;
  background-color: #0a2262;
}
.pagination_list button {
  background-color: transparent;
  padding: 8px;
}

.section_filter {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
.section_filter .filter_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.section_filter .filter_top h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #00284B;
}
.section_filter .filter_top button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00284B;
  padding: 6px;
  border-radius: 4px;
}
.section_filter .filter_top button.main {
  background-color: #00284B;
  border: 1px solid #00284B;
}
.section_filter .filter_top button.ghost {
  background-color: transparent !important;
  border: 1px solid #00284B;
}
.section_filter .filter_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  width: fit-content;
  gap: 15px;
}
.section_filter .filter_bottom span {
  display: block;
  width: 1px;
  background-color: rgba(10, 34, 98, 0.25);
  height: 40px;
}
.section_filter .filter_bottom select {
  background-color: transparent;
  border: 1px solid rgba(10, 34, 98, 0.25);
  padding: 12px 50px 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #0a2262;
  font-weight: 400;
  line-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/arrow-down-d.svg") no-repeat right 10px center;
}
.section_filter .filter_bottom button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a2262;
  border-radius: 4px;
  padding: 10px;
}

.box_item {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(45, 72, 96, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 24px;
}
.box_item.green {
  border: 2px solid rgba(26, 163, 56, 0.5);
}
.box_item.yellow {
  border: 2px solid rgba(174, 138, 41, 0.7);
}
.box_item .main_img {
  width: 100%;
  object-fit: cover;
  height: 204px;
}
.box_item .box_top {
  position: relative;
}
.box_item .box_top .highlights {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #c31e1e;
  border: 1px solid;
  border-image-source: linear-gradient(98.91deg, #999999 0%, #E1E1E1 100%);
}
.box_item .box_bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  padding: 0 8px;
  position: relative;
}
.box_item .box_bottom .right_text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #9b823e;
  top: 10px;
  right: 10px;
}
.box_item .box_bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_item .box_bottom > div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #41688D;
}
.box_item .box_bottom a {
  color: #00284B;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  display: inline-block;
  -webkit-box-orient: vertical;
  /* autoprefix off */
  -webkit-line-clamp: 2;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box_item .box_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.box_item .box_end .start_box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #AE8A29;
}
.box_item .box_end span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #41688D;
}
.box_item .icon {
  position: absolute;
  top: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  right: 12px;
}
.box_item .icon.active svg, .box_item .icon:hover svg {
  fill: #00284B;
}

.status {
  padding: 8px 10px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: fit-content;
}
.status.red {
  border: 1px solid #d94415;
  color: #d94415;
}
.status.green {
  border: 1px solid #1aa338;
  color: #1aa338;
}
.status.yellow {
  border: 1px solid #a9872a;
  color: #a9872a;
}

.document_box {
  padding: 24px;
  background-color: rgba(10, 34, 98, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 24px;
}
.document_box .img_box {
  width: 80px;
  height: 80px;
  padding: 16px;
  background-color: #567eb0;
  border-radius: 8px;
}
.document_box .img_box img {
  width: 48px;
  object-fit: contain;
  height: 48px;
}
.document_box .box_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.document_box .box_content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
.document_box .box_content p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}

.category_list ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category_list ul .category_accordion .accordion_top {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.category_list ul .category_accordion .accordion_top p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #00284B;
}
.category_list ul .category_accordion .accordion_top span {
  cursor: pointer;
}
.category_list ul .category_accordion .accordion_top span img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.category_list ul li.active, .category_list ul li:hover {
  background-color: rgba(10, 34, 98, 0.05);
}

.accordion_body {
  display: none;
}

.accordion_top.active + .accordion_body {
  display: block;
}

.accordion_top.active span {
  transform: rotate(90deg);
}

.accordion_top span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.category_list_right ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category_list_right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: rgba(10, 34, 98, 0.05);
  gap: 40px;
}
.category_list_right ul li span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #00284b;
}

.document_category_detail_top {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.document_category_detail_top .left_side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.document_category_detail_top .left_side a {
  border: 1px solid #ae8a29;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ae8a29;
  border-radius: 16px;
}
.document_category_detail_top .left_side ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.document_category_detail_top .right_side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.document_category_detail_top .right_side .btn_custom {
  padding: 12px 20px;
  background-color: transparent;
  transition: all 0.5s;
}
.document_category_detail_top .right_side .btn_custom.button_ghost_yellow {
  border: 1px solid #ae8a29;
  color: #ae8a29;
}
.document_category_detail_top .right_side .btn_custom.button_ghost_yellow:hover {
  background-color: #ae8a29;
  color: #fff;
}
.document_category_detail_top .right_side .btn_custom.button_yellow {
  background-color: #ae8a29;
  color: #fff;
  border: 1px solid #ae8a29;
}
.document_category_detail_top .right_side .btn_custom.button_yellow:hover {
  background-color: #85691f;
}
.document_category_detail_top .right_side .btn_custom.btn_dark_blue {
  background-color: #00284B;
  border: 1px solid #00284B;
  color: #fff;
}
.document_category_detail_top .right_side .btn_custom.btn_dark_blue:hover {
  background-color: #000d18;
}

.text_list {
  background-color: #fff;
  padding: 16px;
  display: none;
}
.text_list p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  color: #1A1A1A;
}

.document_detail_box {
  padding: 32px 0 64px;
}
.document_detail_box .nav-link {
  max-width: 48%;
}

.nav-tabs {
  border-bottom: 0;
  gap: 24px;
}
.nav-tabs .nav-link {
  border-radius: 4px;
  border: 1px solid #AE8A29;
  color: #AE8A29;
  transition: 0.5s all;
  width: 100%;
  padding: 16px 20px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  background-color: #AE8A29;
  color: #fff;
  border-color: #AE8A29 !important;
}

.radio_list {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 0;
}
.radio_list h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1e1e1e;
}
.radio_list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.radio_list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.radio_list ul li h4, .radio_list ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
  color: #0A2262;
}
.radio_list ul li .left_side input {
  display: none;
}
.radio_list ul li .left_side input:checked ~ label:after {
  display: block;
}
.radio_list ul li .left_side label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #9B823E;
  position: relative;
  cursor: pointer;
}
.radio_list ul li .left_side label:after {
  display: none;
  content: " ";
  width: 12px;
  border-radius: 50%;
  height: 12px;
  background-color: #9B823E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rating_box .left_rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 4px;
}
.rating_box .left_rating span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #6C8AA3;
}
.rating_box .left_rating ul {
  justify-content: flex-end;
}

.star_list {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #AE8A29;
}
.star_list li.done {
  opacity: 1;
}
.star_list li.progress_status {
  opacity: 0.7;
}
.star_list li.waiting {
  opacity: 0.4;
}

.continue_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.continue_box button {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #AE8A29;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #AE8A29;
  background-color: transparent;
}
.continue_box button span {
  color: rgba(65, 104, 141, 0.7);
  margin-left: 16px;
}
.continue_box .status_line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.continue_box .status_line li {
  width: 22px;
  height: 6px;
  border-radius: 32px;
}
.continue_box .status_line li.done {
  background-color: #1aa338;
}
.continue_box .status_line li.progress_status {
  background-color: #ae8a29;
}
.continue_box .status_line li.waiting {
  background-color: rgba(166, 133, 44, 0.25);
}

.video_detail_box .img_box {
  margin-bottom: 24px;
}
.video_detail_box .img_box img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  height: 438px;
}
.video_detail_box .text_box {
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}
.video_detail_box .text_box .text_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.video_detail_box .text_box .text_top h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #00284B;
}
.video_detail_box .text_box .text_top a:hover svg path {
  fill: #00284B;
}
.video_detail_box .text_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #41688D;
}
.video_detail_box .text_box .detail_bottom {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.video_detail_box .text_box .detail_bottom .bottom_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0;
}
.video_detail_box .text_box .detail_bottom span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #6C8AA3;
  text-transform: uppercase;
}
.video_detail_box .text_box .detail_bottom h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #00284B;
}

.episode_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.episode_list .episode_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.episode_list .episode_top .click_down {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode_list .episode_top .click_down svg {
  width: 24px;
  height: 24px;
}
.episode_list .episode_top h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #00284B;
}
.episode_list .episode_top h4 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(65, 104, 141, 0.7);
  margin-left: 16px;
}
.episode_list .episode_list ul {
  display: flex;
  background-color: rgba(255, 255, 255, 0.25);
  flex-direction: column;
  border-radius: 8px;
}
.episode_list .episode_list ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid rgba(45, 72, 96, 0.15);
}
.episode_list .episode_list ul a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.episode_list .episode_list ul span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #41688d;
}
.episode_list .episode_list ul .left_side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.episode_list .episode_list ul .left_side .status_video {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
}
.episode_list .episode_list ul .left_side .status_video.status_done {
  background-color: #1aa338;
  border-color: #1aa338;
}
.episode_list .episode_list ul .left_side .status_video.status_progress {
  background-color: #ae8a29;
  border-color: #ae8a29;
}
.episode_list .episode_list ul .left_side .status_video.status_waiting {
  background-color: transparent;
  border-color: #ae8a29;
}
.episode_list .episode_list ul .left_side p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #00284B;
}
.episode_list .next_video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 15px 20px;
  border: 1px solid #ae8a29;
  color: #ae8a29;
}

.hide {
  display: none !important;
}

.training_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.training_container .training_item .date_box {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid rgba(45, 72, 96, 0.15);
}
.training_container .training_item .date_box h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #00284B;
}
.training_container .training_item .date_box span {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #00284B;
}
.training_container .training_item .training_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.training_container .training_item .training_list li {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  padding: 24px;
  border: 1px solid rgba(45, 72, 96, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.training_container .training_item .training_list li .left_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.training_container .training_item .training_list li .left_box .date_detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.training_container .training_item .training_list li .left_box .date_detail p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #00284B;
}
.training_container .training_item .training_list li .left_box .status {
  height: 24px;
  padding: 5px 10px;
}
.training_container .training_item .training_list li .left_box .name_detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.training_container .training_item .training_list li .left_box .name_detail h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #00284B;
}
.training_container .training_item .training_list li .left_box .name_detail p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #00284B;
}
.training_container .training_item .training_list li .right_box {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.training_container .training_item .training_list li .right_box a:hover svg path, .training_container .training_item .training_list li .right_box a.active svg path {
  fill: #00284B;
}

.training_detail_img h1 {
  font-family: TT Firs Neue Trl;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #1a1a1a;
  margin-bottom: 24px;
}
.training_detail_img img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.training_detail_text {
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
}
.training_detail_text .w-100 {
  width: 100%;
}
.training_detail_text .w-50 {
  width: 50%;
}
.training_detail_text .detail_item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.training_detail_text .detail_item h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  color: #00284B;
}
.training_detail_text .detail_item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #41688d;
}
.training_detail_text .detail_item h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #00284B;
}
.training_detail_text .detail_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.training_detail_text .detail_bottom .save_training {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.training_detail_text .detail_bottom .save_training:hover svg path, .training_detail_text .detail_bottom .save_training.active svg path {
  fill: #00284B;
}

.title_center {
  text-align: center;
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: #1A1A1A;
}

.mt-48 {
  margin-top: 48px !important;
}

.filter_header {
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
.filter_header .filter_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.filter_header .filter_flex .input_box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 8px;
}
.filter_header .filter_flex label {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #41688d;
}
.filter_header .filter_flex .dark_label {
  cursor: pointer;
  color: #00284b;
}
.filter_header .filter_flex select {
  border: 1px solid rgba(10, 34, 98, 0.25);
  padding: 13px 50px 13px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #0a2262;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/arrow-down-d.svg") no-repeat right 10px center;
}
.filter_header .filter_flex input {
  width: 68px;
  border: 1px solid rgba(10, 34, 98, 0.25);
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #41688d;
}
.filter_header .filter_flex input::placeholder {
  color: #41688d;
}
.filter_header .filter_flex .input_big {
  width: 114px;
}

.check_input {
  display: none;
}
.check_input ~ .check_label {
  width: 18px;
  height: 18px;
  border: 1.5px solid #00284b;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check_input ~ .check_label:after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  background-color: #00284b;
  border-radius: 4px;
}
.check_input:checked ~ .check_label:after {
  display: block;
}

.filter_buttons {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.filter_buttons button {
  border-radius: 4px;
  color: #fff;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-width: 150px;
}
.filter_buttons .button_yellow {
  border: 1px solid #9b823e;
  background-color: #9b823e;
}
.filter_buttons .button_gray {
  border: 1px solid #41688d;
  background-color: #41688d;
}
.filter_buttons .btn_dark_blue {
  border: 1px solid #0a2262;
  background-color: #0a2262;
}

.mt-42 {
  margin-top: 42px;
}

.w-60 {
  width: 65%;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.main-image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#mainImage {
  width: 100%;
  transition: transform 0.3s ease;
  cursor: zoom-in;
  border-radius: 8px;
}

.main-image-container.zoom #mainImage {
  cursor: zoom-out;
  transform: scale(1.5);
  border-radius: 8px;
}

.thumbnails-container {
  overflow: auto;
  max-width: 100%;
  cursor: grab;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnails-container::-webkit-scrollbar {
  display: none;
}

.thumbnails {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 24px;
}

.thumbnail {
  width: 180px;
  height: 140px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
  border: 2px solid transparent;
  border-radius: 8px;
}

.thumbnail:hover,
.thumbnail.active {
  border: 1px solid #00284B;
}

.detail_top_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_top_box .left_side {
  margin-bottom: 48px;
  padding: 24px 0;
}
.detail_top_box .left_side ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.detail_top_box .left_side ul span, .detail_top_box .left_side ul a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #757575;
}
.detail_top_box .right_side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.detail_top_box .right_side .right_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail_top_box .right_side .right_item span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  color: #6C8AA3;
}
.detail_top_box .right_side .right_item p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #00284B;
}

.detail_body h1 {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 24px;
}

.detail_box {
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;
}
.detail_box .single_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #41688D;
}
.detail_box ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  position: relative;
}
.detail_box ul li {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.detail_box ul li span {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #41688D;
  min-width: 150px;
  width: 100%;
  max-width: 160px;
}
.detail_box ul li p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #00284B;
}
.detail_box.box_text h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1e1e1e;
  margin-bottom: 24px;
}
.detail_box.box_img .box_detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.detail_box.box_img .box_detail img {
  height: 112px;
  object-fit: contain;
}
.detail_box.box_img .box_detail ul li span {
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
}
.detail_box.box_img .button_yellow {
  border-radius: 4px;
  color: #fff;
  padding: 14px 20px;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
  line-height: 16px;
  transition: all 0.5s;
  border: 1px solid #9b823e;
  background-color: #9b823e;
  display: block;
  text-align: center;
}
.detail_box.box_img h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #8B722E;
  margin-bottom: 24px;
}
.detail_box.box_img h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #8B722E;
  margin-bottom: 24px;
}
.detail_box.box_nav_tabs {
  margin-top: 24px;
}
.detail_box.box_nav_tabs .nav_tabs_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  margin-bottom: 36px;
}
.detail_box.box_nav_tabs .nav_tabs_top .tab_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail_box.box_nav_tabs .nav_tabs_top .tab_box span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #6C8AA3;
  text-transform: uppercase;
}
.detail_box.box_nav_tabs .nav_tabs_top .tab_box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #00284B;
}
.detail_box.box_nav_tabs .nav_tabs_body h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: #00284B;
  margin-bottom: 16px;
}
.detail_box.box_nav_tabs .nav_tabs_body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #41688D;
}

.detail_nav .nav-link {
  max-width: 240px;
  width: 100%;
}

.btn_round {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.section_business {
  padding: 16px 0 80px;
}

.section_description {
  border-radius: 6px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
}
.section_description .section_filter {
  align-items: flex-start;
}
.section_description .section_filter .filter_bottom {
  padding: 0 !important;
}
.section_description .section_filter .filter_bottom select {
  padding: 13px 50px 13px 20px;
}
.section_description .text_list_desc {
  margin-bottom: 32px;
}
.section_description .text_list_desc p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: #00284B;
}
.section_description .text_list_desc p.text_danger {
  color: #aa261e;
}
.section_description .text_list_desc p span {
  cursor: pointer;
}

.text_check {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text_check .text_label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #00284B;
  cursor: pointer;
}
.text_check span {
  cursor: pointer;
}
.text_check input {
  display: none;
}
.text_check input:checked ~ .check_label:after {
  display: block;
}
.text_check .check_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 1.5px solid #00284B;
  border-radius: 6px;
  cursor: pointer;
}
.text_check .check_label:after {
  display: none;
  content: " ";
  width: 12px;
  border-radius: 4px;
  height: 12px;
  background-color: #00284B;
}

.modal_custom .modal-dialog {
  max-width: 800px !important;
  width: 100%;
}
.modal_custom .modal-header {
  padding: 24px !important;
  border-bottom: 0 !important;
}
.modal_custom .modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #00284B;
}
.modal_custom .btn-close {
  width: 44px;
  height: 44px;
  background: #00284B !important;
  opacity: 1;
  border-radius: 4px;
  padding: 0 !important;
  margin: 0 !important;
}
.modal_custom .modal-body {
  padding: 0 24px 32px !important;
}
.modal_custom .modal-body .modal_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal_custom .modal-body .modal_content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content .modal_table {
  border-radius: 4px;
  border: 1px solid rgba(65, 104, 141, 0.5);
  padding: 16px;
  background-color: rgba(10, 34, 98, 0.05);
}
.modal_custom .modal-body .modal_content .modal_table table {
  width: 100%;
}
.modal_custom .modal-body .modal_content .modal_table .border_text {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(10, 34, 98, 0.25);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content .modal_table td {
  padding: 4px 12px;
}
.modal_custom .modal-body .modal_content .modal_table span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(10, 34, 98, 0.25);
  color: #41688d;
}
.modal_custom .modal-body .modal_content .modal_table p {
  border-radius: 4px;
  border: 1px solid rgba(10, 34, 98, 0.25);
  font-weight: 400;
  padding: 14px 20px;
  color: #41688d;
}
.modal_custom .modal-body .modal_content .modal_table label {
  color: #41688d;
}
.modal_custom .modal-body .modal_content .modal_table .percent_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_custom .modal-body .modal_content .modal_table .percent_box span {
  border: none;
}
.modal_custom .modal-body .modal_content .modal_table .percent_box input {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(10, 34, 98, 0.25);
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 6px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content .highlight_text {
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgba(65, 104, 141, 0.5);
  background-color: rgba(10, 34, 98, 0.05);
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content .highlight_text .text_yellow {
  color: #ae8a29;
}
.modal_custom .modal-body .modal_content .highlight_text a {
  color: #41688d;
}
.modal_custom .modal-body .modal_content .modal_list li p, .modal_custom .modal-body .modal_content .modal_list li h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #00284B;
}
.modal_custom .modal-body .modal_content .modal_list li p {
  margin-left: 16px;
}
.modal_custom .modal-footer {
  padding: 0 24px 24px;
  justify-content: flex-start;
  border-top: unset;
}
.modal_custom .modal-footer button {
  padding: 14px 18px;
  border-radius: 4px;
  background-color: #00284B;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 !important;
}

.form_step_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
}
.form_step_list li {
  border: 1px solid #ae8a29;
  padding: 16px 20px;
  border-radius: 4px;
  font-size: 16px;
  max-width: 184px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  color: #ae8a29;
}
.form_step_list li.active {
  background-color: #ae8a29;
  color: #fff;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.multistep_form_container {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.multistep_form_container .next-step,
.multistep_form_container .prev-step {
  padding: 14px 18px;
  border-radius: 4px;
  background-color: #00284B;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.multistep_form_container .accordion-item {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(65, 104, 141, 0.5);
  margin-bottom: 32px;
}
.multistep_form_container .accordion-item:last-of-type {
  border-radius: unset !important;
}
.multistep_form_container .accordion-item .accordion-button {
  padding: 0 0 32px !important;
  background-color: transparent;
  box-shadow: unset;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #00284B;
}

.header_links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.header_links .back {
  border: 1px solid #ae8a29;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ae8a29;
  border-radius: 16px;
}
.header_links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.header_links ul a, .header_links ul span {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #757575;
}

.news_text {
  margin: 48px 0;
}
.news_text p {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #00284b;
}

.news_img_list .img_box {
  margin-bottom: 24px;
}
.news_img_list .img_box img {
  width: 100%;
  height: 260px;
  border-radius: 6px;
  object-fit: cover;
}

.accordion_list .accordion-item {
  background-color: transparent;
  margin-bottom: 24px;
  border: 1px solid rgba(10, 34, 98, 0.45);
  border-radius: 4px;
}
.accordion_list .accordion-item .accordion-header {
  border-color: rgba(10, 34, 98, 0.45);
}
.accordion_list .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.accordion_list .accordion-item .accordion-button {
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #0a2262;
}

.accordion_list h4 {
  margin-bottom: 24px;
}
.accordion_list h4, .accordion_list li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #0a2262;
}
.accordion_list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.law_category_list {
  padding: 24px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.25);
}
.law_category_list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.law_category_list ul li a {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ae8a29;
  color: #ae8a29;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  transition: all 0.5s;
}
.law_category_list ul li a:hover, .law_category_list ul li a.active {
  background-color: #ae8a29;
  color: #fff;
}

.law_list {
  padding: 24px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.25);
}
.law_list h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 24px;
  color: #1e1e1e;
}
.law_list ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.law_list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid rgba(10, 34, 98, 0.35);
}
.law_list ul li span {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #050f21;
}

/*# sourceMappingURL=style.css.map */
