body {
  font-family: "Inter", sans-serif;
}

.main_bg {
  background-image: url("../img/bg-main.png");
  background-color: #FCFFF2;
  min-height: 100vh;
  background-size: cover;
}

.section_title_big {
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.section_title_big span {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #00284B;
}

.section_title_mid {
  font-family: TT Firs Neue Trl;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.section_text_mid {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.section_text {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  line-height: 25.6px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 0;
}
.header_top .header_nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
}
.header_top .header_nav .logo_box {
  height: 151px;
  width: 121px;
}
.header_top .header_nav .navbar-nav {
  padding: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.header_top .header_nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #1A1A1A;
}
.header_top .header_auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 12px 0;
}
.header_top .header_auth .login_box a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.header_top .header_auth .login_box a img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.header_top .header_auth .login_box a span {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #9B823E;
}
.header_top .header_auth .search_box {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_top .header_auth .dropdown-toggle {
  color: #9B823E;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
  line-height: 16px;
  text-transform: uppercase;
}
.header_top .header_auth .dropdown-toggle img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.header_top .header_auth .dropdown-toggle:after {
  display: none;
}

.section_padding {
  padding: 64px 0;
}
.section_padding .section_text_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.section_padding .section_text_box.text_middle {
  justify-content: center;
  height: 100%;
}
.section_padding .section_text_box h2, .section_padding .section_text_box h1 {
  color: #00284B;
}
.section_padding .section_text_box > span {
  font-size: 16px;
  font-weight: 500;
  color: #00284B;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.section_padding .section_text_box p {
  max-width: 650px;
  color: #41688D;
}
.section_padding .section_text_box .section_title_mid {
  color: #fff;
}
.section_padding .section_img {
  display: flex;
  justify-content: flex-end;
}
.section_padding .section_img img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.section_padding .section_img.height_auto {
  height: auto !important;
}

.section_btn {
  margin-top: 32px;
}
.section_btn a {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
}

.btn_custom {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
}

.btn_main {
  background-color: #368cd8;
  padding: 14px 24px;
  color: #fff;
  border: 1px solid #368cd8;
}

.btn_ghost {
  padding: 12px 20px;
  color: #00284B;
  border: 1px solid #00284B;
}

.section_slider {
  margin-top: 44px;
  max-width: 360px;
}
.section_slider .swiper {
  width: 100%;
  height: 300px;
  margin-left: 0;
  border-radius: 8px;
}
.section_slider .swiper .swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  border: 1px solid #0a2262;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_slider .swiper .swiper-pagination-bullet-active:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0a2262;
}
.section_slider .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_slider .swiper .header_slider_box {
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(10, 34, 98, 0.45);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section_slider .swiper .header_slider_box .slider_top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.section_slider .swiper .header_slider_box .slider_top h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-bottom: 8px;
}
.section_slider .swiper .header_slider_box .slider_top p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.section_slider .swiper .header_slider_box .slider_top .img_box img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.section_slider .swiper .header_slider_box .slider_bottom {
  display: flex;
  width: 100%;
}
.section_slider .swiper .header_slider_box .slider_bottom a {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 14px;
  color: #1A1A1A;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.section_mini .section_doc {
  border-radius: 8px;
  padding: 48px 64px;
  background-color: rgba(10, 34, 98, 0.25);
}
.section_mini .section_doc img {
  max-width: 265px;
  max-height: 265px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-white {
  color: #fff !important;
}

.main_box {
  padding: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  gap: 32px;
}
.main_box .img_round img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.main_box .text_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main_box .text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_box .text_bottom p {
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.main_box .text_bottom span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #F2F2F2;
}
.main_box .text_top p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}
.main_box .text_top h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #fff;
}
.main_box .bigger_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #F4F4F4;
}
.main_box .bigger_text span {
  margin-right: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #F4F4F4;
}
.main_box.dark_gray_box {
  background-color: rgba(10, 34, 98, 0.45);
}
.main_box.light_gray_box {
  background-color: rgba(10, 34, 98, 0.25);
}
.main_box.light_gray_box .img_box {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_box.light_gray_box .img_box img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.vacations_list,
.investment_list {
  margin-top: 80px;
}

.section_title_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.section_title_between h2 {
  color: #00284B;
}

.training_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 60px 32px;
  background-color: rgba(10, 34, 98, 0.45);
}
.training_box h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
}
.training_box img {
  max-width: 236px;
  max-height: 236px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mw-500 {
  max-width: 350px !important;
  width: 100%;
}

.news_box {
  position: relative;
  overflow: hidden;
}
.news_box .news_img {
  height: 204px;
  width: 100%;
  position: relative;
}
.news_box .news_img:hover img {
  transform: scale(1.04);
}
.news_box .news_img:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 96, 0.22);
}
.news_box img {
  border-radius: 6px;
  height: 204px;
  transition: all 0.5s;
  width: 100%;
  object-fit: cover;
}
.news_box .news_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.news_box .news_bottom span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #41688D;
}
.news_box a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #00284B;
  margin-top: 16px;
  display: -webkit-box;
  display: inline-block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

footer {
  background-color: rgba(23, 55, 84, 0.9);
  padding: 64px 0;
}
footer .footer_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_box .footer_left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
footer .footer_box .footer_left .footer_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
footer .footer_box .footer_left .footer_links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}
footer .footer_box .footer_left img {
  width: 145px;
  height: 180px;
  object-fit: contain;
}
footer .footer_box .footer_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .footer_box .footer_right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
footer .footer_box .footer_right ul a {
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer .footer_box .footer_right ul a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
footer .footer_bottom {
  margin-top: 48px;
}
footer .footer_bottom p {
  text-align: right;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.label_list {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.label_list .label_box {
  padding: 14px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(10, 34, 98, 0.45);
  border-radius: 4px;
  gap: 8px;
}
.label_list .label_box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #00284B;
}

.service_box {
  padding: 24px;
  height: 148px;
  background-color: rgba(10, 34, 98, 0.45);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 24px;
}
.service_box img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.service_box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.vacancy_search {
  margin: 16px 0;
  background-color: rgba(10, 34, 98, 0.45);
  padding: 32px 48px;
  border-radius: 6px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.vacancy_search .search_item {
  width: 100%;
}
.vacancy_search .search_item .input_box {
  padding: 16px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 288px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vacancy_search .search_item .input_box input, .vacancy_search .search_item .input_box select {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}
.vacancy_search .search_item .input_box input::placeholder, .vacancy_search .search_item .input_box select::placeholder {
  color: #fff;
}
.vacancy_search .search_item .input_box select {
  -webkit-appearance: none;
  /*Firefox */
  -moz-appearance: none;
  /* modern browsers */
  appearance: none;
}
.vacancy_search .search_item .input_box img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.btn_box {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
}

.btn_ghost_white {
  color: #fff;
  padding: 14px 24px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.pagination_list {
  margin-top: 80px;
}
.pagination_list.mt-80 {
  margin-top: 80px;
}
.pagination_list.mt-24 {
  margin-top: 24px;
}
.pagination_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagination_list ul a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #41688d;
  line-height: 16px;
  border-radius: 8px;
}
.pagination_list ul a.active, .pagination_list ul a:hover {
  color: #fff;
  background-color: #0a2262;
}
.pagination_list button {
  background-color: transparent;
  padding: 8px;
}

.section_filter {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
.section_filter .filter_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.section_filter .filter_top h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #00284B;
}
.section_filter .filter_top button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00284B;
  padding: 6px;
  border-radius: 4px;
}
.section_filter .filter_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  width: fit-content;
  gap: 15px;
}
.section_filter .filter_bottom span {
  display: block;
  width: 1px;
  background-color: rgba(10, 34, 98, 0.25);
  height: 40px;
}
.section_filter .filter_bottom select {
  background-color: transparent;
  border: 1px solid rgba(10, 34, 98, 0.25);
  padding: 12px 50px 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #0a2262;
  font-weight: 400;
  line-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/arrow-down-d.svg") no-repeat right 10px center;
}
.section_filter .filter_bottom button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a2262;
  border-radius: 4px;
  padding: 10px;
}

.box_item {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(45, 72, 96, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 24px;
}
.box_item .main_img {
  width: 100%;
  object-fit: cover;
  height: 204px;
}
.box_item .box_top {
  position: relative;
}
.box_item .box_bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  padding: 0 8px;
}
.box_item .box_bottom a {
  color: #00284B;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  display: inline-block;
  -webkit-box-orient: vertical;
  /* autoprefix off */
  -webkit-line-clamp: 2;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box_item .box_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.box_item .box_end .start_box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #AE8A29;
}
.box_item .box_end span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #41688D;
}
.box_item .status {
  padding: 8px 10px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: fit-content;
}
.box_item .status.red {
  border: 1px solid #d94415;
  color: #d94415;
}
.box_item .status.green {
  border: 1px solid #1aa338;
  color: #1aa338;
}
.box_item .status.yellow {
  border: 1px solid #a9872a;
  color: #a9872a;
}
.box_item .icon {
  position: absolute;
  top: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  right: 12px;
}
.box_item .icon.active svg, .box_item .icon:hover svg {
  fill: #00284B;
}

.document_box {
  padding: 24px;
  background-color: rgba(10, 34, 98, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 24px;
}
.document_box .img_box {
  width: 80px;
  height: 80px;
  padding: 16px;
  background-color: #567eb0;
  border-radius: 8px;
}
.document_box .img_box img {
  width: 48px;
  object-fit: contain;
  height: 48px;
}
.document_box .box_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.document_box .box_content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
.document_box .box_content p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}

.category_list ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category_list ul .category_accordion .accordion_top {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.category_list ul .category_accordion .accordion_top p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #00284B;
}
.category_list ul .category_accordion .accordion_top span {
  cursor: pointer;
}
.category_list ul .category_accordion .accordion_top span img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.category_list ul li.active, .category_list ul li:hover {
  background-color: rgba(10, 34, 98, 0.05);
}

.accordion_body {
  display: none;
}

.accordion_top.active + .accordion_body {
  display: block;
}

.accordion_top.active span {
  transform: rotate(90deg);
}

.accordion_top span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.category_list_right ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.category_list_right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: rgba(10, 34, 98, 0.05);
  gap: 40px;
}
.category_list_right ul li span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #00284b;
}

.document_category_detail_top {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.document_category_detail_top .left_side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.document_category_detail_top .left_side a {
  border: 1px solid #ae8a29;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ae8a29;
  border-radius: 16px;
}
.document_category_detail_top .left_side ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.document_category_detail_top .right_side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.document_category_detail_top .right_side .btn_custom {
  padding: 12px 20px;
  background-color: transparent;
  transition: all 0.5s;
}
.document_category_detail_top .right_side .btn_custom.button_ghost_yellow {
  border: 1px solid #ae8a29;
  color: #ae8a29;
}
.document_category_detail_top .right_side .btn_custom.button_ghost_yellow:hover {
  background-color: #ae8a29;
  color: #fff;
}
.document_category_detail_top .right_side .btn_custom.button_yellow {
  background-color: #ae8a29;
  color: #fff;
  border: 1px solid #ae8a29;
}
.document_category_detail_top .right_side .btn_custom.button_yellow:hover {
  background-color: #85691f;
}
.document_category_detail_top .right_side .btn_custom.btn_dark_blue {
  background-color: #00284B;
  border: 1px solid #00284B;
  color: #fff;
}
.document_category_detail_top .right_side .btn_custom.btn_dark_blue:hover {
  background-color: #000d18;
}

.text_list {
  background-color: #fff;
  padding: 16px;
}
.text_list p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  color: #1A1A1A;
}

.document_detail_box {
  padding: 32px 0 64px;
}
.document_detail_box .nav-tabs {
  border-bottom: 0;
  gap: 24px;
}
.document_detail_box .nav-tabs .nav-link {
  border-radius: 4px;
  border: 1px solid #AE8A29;
  color: #AE8A29;
  max-width: 48%;
  transition: 0.5s all;
  width: 100%;
  padding: 16px 20px;
}
.document_detail_box .nav-tabs .nav-link.active, .document_detail_box .nav-tabs .nav-link:hover {
  background-color: #AE8A29;
  color: #fff;
}

.radio_list {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 0;
}
.radio_list h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1e1e1e;
}
.radio_list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.radio_list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.radio_list ul li h4, .radio_list ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
  color: #0A2262;
}
.radio_list ul li .left_side input {
  display: none;
}
.radio_list ul li .left_side input:checked ~ label:after {
  display: block;
}
.radio_list ul li .left_side label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #9B823E;
  position: relative;
  cursor: pointer;
}
.radio_list ul li .left_side label:after {
  display: none;
  content: " ";
  width: 12px;
  border-radius: 50%;
  height: 12px;
  background-color: #9B823E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
